@use "../assets/scss/theme" as *;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #f8f9fb;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.mb-3 {
  margin-bottom: 1rem !important;
}
