/*==============================================================================
// File:        core.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Core styles for the website - SASS
//============================================================================*/

.mz-cell {
  padding: 0 var(--mz-p-df);
}

.mz-form {
  padding: var(--mz-p-df) var(--mz-p-xl);
}