/*==============================================================================
// File:        core.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Core styles for the website - SASS
//============================================================================*/

@media (min-width: 100px) {

  .mz-cell {
    padding: 0 var(--mz-p-df);
  }

}