/*==============================================================================
// File:        core.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Core styles for the website - SASS
//============================================================================*/

.mz-cell {
  padding: 0 var(--mz-p-df) !important;
}

.mz-form {
  padding: var(--mz-p-df) var(--mz-p-xl);
}

.mz-custom-grid {
  max-width: 1600px;
  margin: 0 auto;
}