/*==============================================================================
// File:        styles.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Main styles for the website - SASS
//============================================================================*/

body {
  font-family: Montserrat,sans-serif;
}

iframe {
  border: none;
}

/*==============================================================================
// Mr Zen Utility Classes
//============================================================================*/

.zen-italic {
  font-style: italic;
}

.zen-bold {
  font-weight: bold;
}

/*==============================================================================
// Home page customisation
//============================================================================*/

pb-swiperimagecarousel {
  overflow: hidden;
}

.webiny-pb-section__content,
.webiny-pb-section__content .webiny-pb-grid,
pb-grid {
  max-width: 1600px !important;
}

/* Default padding on Webiny Page Builder cells */
pb-cell,
.webiny-pb-page-element-cell,
.webiny-pb-grid__cell {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.home-heading {
  position: absolute !important;
  z-index: 20;
  right: 0;
  left: 0;
  bottom: 0;
  top: 20%;
  width: 100%;
  color: var(--mz-base-white);
  max-width: 1400px;
  margin: 0 auto !important;


  h1 {
    @include fluid-prop(font-size, $viewport-xs, $viewport-xl, 48px, 92px);

    color: var(--mz-base-white);
    font-weight: 800;

    a {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      transition: all .3s ease;
      text-decoration: none;
      color: transparent;
      border-bottom-width: 8px;

      &:focus,
      &:hover {
        -webkit-text-stroke-color: #0043b3;
        text-shadow: 0 0 30px hsla(0, 0%, 100%, .5);
        color: var(--mz-primary);
      }
    }
  }
}

.home-video {
  overflow: hidden;
  z-index: 10;

  iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-out;
  }
}

.home-video-preview {
  position: absolute !important;
  inset: 0;
  z-index: 5;
  margin: 0 0 35px;
}

.video-preview {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;

  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/*==============================================================================
// Nuxt page transitions
//============================================================================*/

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}
